.node {
  width: 20px;
  height: 20px;
  border: 1px solid theme("colors.system.purple10");
  display: inline-block;
  position: relative;
  /* opacity: 0.7; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.node-normal {
  background-image:none;
  background-color: theme("colors.system.purple30");
}

.node-start {
  background-image: url("/start_right.svg");
  background-color: theme("colors.system.purple30");
  /* background-color: green; */
}

.node-target {
  background-image: url("/target.svg");
  background-color: theme("colors.system.purple30");
  /* background-color: red; */
}

.node-wall {
  background-color: theme("colors.system.purple10");
  background-image:none;
}

.node-weight {
  background-image: url("/weight.svg");
  background-color: theme("colors.system.purple30");
}

.node-unreachable {
  /* background-image:none; */
  background-color: theme("colors.system.purple30");
  opacity: 0.25;
}

.node-visited {
  background-color: theme("colors.system.purple20");
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; 
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: theme("colors.system.purple20");
    border-radius: 100%;
  }

  50% {
    background-color: theme("colors.system.purple50");
  }

  75% {
    transform: scale(1.2);
    background-color: theme("colors.system.purple70");
  }

  100% {
    transform: scale(1);
    background-color: theme("colors.system.purple20");
  }
}

.node-shortest-path {
  background-color: theme("colors.system.green65");
  animation-name: shortestPath;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: theme("colors.system.green65");
  }

  50% {
    transform: scale(1.2);
    background-color: theme("colors.system.green65");
  }

  100% {
    transform: scale(1);
    background-color: theme("colors.system.green65");
  }
}

.stopped {
  animation-name: none;
}