.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); 
}

.grid-settings.show.side-bar {
  transform: translateX(0); /* Muestra la barra lateral al activarse */
}

.side-bar.show {
  transform: translateX(0); /* Muestra la barra lateral al activarse */
}
