.tooltip-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
}

.tooltip {
  width: auto;
  font-size: 12px;
  font-weight: 400;
  background-color: theme("colors.system.purple20");
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  /* border: 1px solid #d8e2e2; */
  position: absolute;
  top: 70px;
  transition: all 0.3s ease;
  opacity: 0;
  white-space: nowrap;
  max-width: 300px;
}

/* .arrow {
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid theme("colors.system.purple20");
        position: absolute;
        bottom: -12px;
        left: calc(50% - 12px);
    } */

.tooltip.open {
  transform: translateY(-30px);
  opacity: 0.9;
}
